/* ---------------------------mobil--------------------------- */

/* FORSIDE */

.citat {
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.citat h2 {
  color: #5d6e4c;
}

.index_box {
  display: grid;
  margin-top: 60px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  border: 0.1em solid #5d6e4c;
}

.grid_1-1-1 {
  /* margin: 50px; */
  margin-left: 50px;
  margin-right: 50px;
}

.grid_1-1-1 img {
  border-radius: 25px;
}

.col {
  margin-bottom: 60px;
}

.col_button {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.index_button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #5d6e4c;
  text-decoration: none;
  border: 0.1em solid #5d6e4c;
  border-radius: 25px;
}

.index_button:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #2d2f2a;
  background-color: rgba(45, 47, 42, 0.3);
  text-decoration: none;
  transition: 0.3s;
  border: 0.1em solid #2d2f2a;
  border-radius: 25px;
}

.about_button {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about_button2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #e1ded5;
  text-decoration: none;
  border: 0.1em solid #e1ded5;
  border-radius: 25px;
}

.about_button2:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #5d6e4c;
  text-decoration: none;
  border: 0.1em solid #5d6e4c;
  border-radius: 25px;
}

.index_tekst {
  background-color: #2d2f2a;
  color: #e1ded5;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 10px;
  padding: 30px;
}

/* PORTFOLIO */
.grid_1-5_port {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #5d6e4c;
  padding-top: 50px;
  padding-bottom: 50px;
}

.port_titel h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-right: 10px;
}

.port_txt h2 {
  margin-bottom: 10px;
}

.port_txt {
  /* margin-bottom: 20px; */
  margin-right: 20px;
}

.port_img {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.port_img img {
  height: 40vw;
}

.port_button {
  display: flex;
  /* margin-bottom: 1em; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.port_button2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #e1ded5;
  text-decoration: none;
  border: 0.1em solid #e1ded5;
  border-radius: 25px;
}

.port_button2:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #2d2f2a;
  text-decoration: none;
  border: 0.1em solid #2d2f2a;
  border-radius: 25px;
}

.tema_titel {
  margin: 65px;
  margin-left: 30px;
  margin-right: 30px;
}

.tema_titel h1 {
  margin-bottom: 20px;
}

.tema_button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tema_button2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #2d2f2a;
  text-decoration: none;
  border: 0.1em solid #2d2f2a;
  border-radius: 25px;
}

.tema_button2:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #5d6e4c;
  background-color: rgba(93, 110, 76, 0.2);
  text-decoration: none;
  border: 0.1em solid #5d6e4c;
  border-radius: 25px;
  transition: 0.2s;
}

/* ABOUT */
.about_txt {
  display: grid;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.about_img img {
  border-radius: 10px;
  height: 50vh;
}

.about_img {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.about_txt h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.grid_1-2_about {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}

.about_skole h4 {
  margin-bottom: 10px;
}

.about_skills h4 {
  margin-bottom: 10px;
}

.about_erfaring,
.about_socials,
.about_hobby,
.about_sprog {
  margin-top: 40px;
  border-top: 2px solid #2d2f2a;
  padding-top: 20px;
}

.about_profil {
  margin-top: 40px;
  border-top: 2px solid #2d2f2a;
  border-bottom: 2px solid #2d2f2a;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.about_icons {
  display: flex;
  justify-content: space-between;
}

/* ---------------------------mobil--------------------------- */

/* --------------------------computer-------------------------- */

/* FORSIDE */
@media (min-width: 800px) {
  .citat {
    display: grid;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 55px;
    margin-right: 55px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .index_box {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .grid_1-1-1 {
    display: grid;
    gap: 60px;
    justify-content: center;
    /* margin-bottom: 50px; */
    grid-template-columns: 1fr 1fr;
    /* margin: 100px; */
    margin-left: 20%;
    margin-right: 20%;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
  }

  .index_tekst {
    height: 65vh;
  }

  .grid_1-1 img {
    height: 65vh;
  }

  .order {
    order: -1;
  }

  /* PORTFOLIO */

  .grid_1-5_port {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #5d6e4c;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .port_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .port_titel h1 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 20px;
  }

  .port_txt {
    margin-bottom: 20px;
    margin-right: 30px;
  }

  .port_txt h2 {
    margin-bottom: 10px;
  }

  .port_img {
    margin-bottom: 50px;
    margin-right: 70px;
  }

  .port_img img {
    height: 40vh;
  }

  .tema_titel {
    margin: 65px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .tema_titel h1 {
    margin-bottom: 20px;
  }

  .tema_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 50px;
    gap: 35px;
  }

  .tema_grid img {
    /* height: 50%; */
    border-radius: 10px;
  }

  /* ABOUT */
  .grid_1-1_about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* height: 50vh; */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
  }

  .grid_1-1_about img {
    height: 50vh;
  }

  .about_img {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .about_txt {
    display: grid;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding-bottom: 0;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
    margin-left: 150px;
  }

  .grid_1-2_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .about_skills {
    border-left: 2px solid #2d2f2a;
    /* padding-left: 50px; */
  }

  .grid_1-2_about h4,
  .grid_1-2_about h5,
  .grid_1-2_about p,
  .grid_1-2_about ul {
    padding-left: 30px;
  }

  .about_skole h4 {
    margin-bottom: 10px;
  }

  .about_skills h4 {
    margin-bottom: 10px;
  }

  .about_erfaring,
  .about_socials,
  .about_hobby,
  .about_sprog {
    margin-top: 40px;
    border-top: 2px solid #2d2f2a;
    padding-top: 20px;
  }

  .about_profil {
    margin-top: 40px;
    border-top: 2px solid #2d2f2a;
    border-bottom: none;
    padding-top: 20px;
    margin-bottom: 50px;
  }

  .about_icons {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
  }

  /* CONTACT */
  .grid_1-1_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* --------------------------computer-------------------------- */
