/* ---------------------------mobil--------------------------- */

/* FORSIDE */

.citat {
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.citat h2 {
  color: #6d7865;
}

.index_box {
  display: grid;
  margin-top: 60px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  border: 0.1em solid #6d7865;
}

.index_box h3 {
  color: #6d7865;
}

.grid_1-1-1 {
  /* margin: 50px; */
  margin-left: 50px;
  margin-right: 50px;
}

.grid_1-1-1 img {
  border-radius: 25px;
}

.col {
  margin-bottom: 60px;
}

.col_button {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.index_button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #6d7865;
  text-decoration: none;
  border: 0.1em solid #6d7865;
  border-radius: 25px;
}

.about_button {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about_button2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: #e1ded5;
  text-decoration: none;
  border: 0.1em solid #e1ded5;
  border-radius: 25px;
}

.index_tekst {
  background-color: #2d2f2a;
  color: #e1ded5;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 10px;
  padding: 30px;
}

/* PORTFOLIO */
.grid_1-1_port-1 {
  background-color: #6c7a57;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.grid_1-1_port-2 {
  background-color: #b09f8c;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.grid_1-1_port-3 {
  background-color: #2d2f2a;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.col_port {
  padding: 20px;
}

.grid_1-1_port img {
  border-radius: 25px;
}

/* CONTACT */

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #2d2f2a;
  color: #f2f2f2;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #6c7a57;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* ---------------------------mobil--------------------------- */

/* --------------------------computer-------------------------- */

/* FORSIDE */
@media (min-width: 800px) {
  .citat {
    display: grid;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 55px;
    margin-right: 55px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .index_box {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .grid_1-1-1 {
    display: grid;
    gap: 60px;
    justify-content: center;
    /* margin-bottom: 50px; */
    grid-template-columns: 1fr 1fr 1fr;
    /* margin: 100px; */
    margin-left: 100px;
    margin-right: 100px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
  }

  /* PORTFOLIO */
  .grid_1-1_port-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 25vh;
    margin-right: 25vh;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .grid_1-1_port-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 25vh;
    margin-right: 25vh;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .grid_1-1_port-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 25vh;
    margin-right: 25vh;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .index_tekst {
    height: 65vh;
  }

  .grid_1-1 img {
    height: 65vh;
  }

  .order {
    order: -1;
  }

  /* CONTACT */
  .grid_1-1_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* --------------------------computer-------------------------- */
