/* ---------------------------reset--------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1ded5;
  margin: 0rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
}
/* ---------------------------reset--------------------------- */

p {
  font-family: "IBM Plex Mono";
  font-size: 3vw;
  color: #2d2f2a;
}

.menu a {
  font-family: "IBM Plex Mono";
  font-weight: 400;
}

a {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 2.8vh;
}

/* INDEX */

.citat h2 {
  margin: 0;
  font-size: 5vh;
  line-height: 0.9;
  font-family: "Merriweather";
  font-weight: 700;
  text-align: center;
  letter-spacing: -3px;
}

.index_box {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 3vh;
}

.index_box h3 {
  color: #5d6e4c;
}

.index_tekst h4 {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 3.2vh;
  margin-top: 20px;
}

.index_tekst h5 {
  font-size: 6vh;
  font-weight: 700;
  line-height: 0.9;
  font-family: "Merriweather";
  letter-spacing: -4px;
}

.index_tekst p {
  color: #e1ded5;
}

/* PORTFOLIO */
.port_titel h1 {
  margin: 0;
  font-size: 15vh;
  line-height: 0.9;
  font-family: "Merriweather";
  font-weight: 700;
  text-align: center;
  letter-spacing: 70px;
  color: #191a18;
}

.port_txt h2 {
  font-family: "Merriweather";
  font-weight: 800;
  font-size: 10vw;
  color: #e1ded5;
}

.port_txt h3 {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 5vw;
  color: #e1ded5;
}

.port_txt p {
  color: #e1ded5;
}

.port_img img {
  border-radius: 10px;
}

.tema_titel h1 {
  font-family: "Merriweather";
  font-weight: 800;
  font-size: 7vh;
  color: #5d6e4c;
}

/* ABOUT */
.about_txt h1 {
  margin: 0;
  font-size: 16vw;
  line-height: 0.9;
  font-family: "Yesteryear";
  font-weight: 700;
  text-align: center;
  letter-spacing: -3px;
  color: #5d6e4c;
}

.about_txt h2 {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 6vw;
  color: #2d2f2a;
}

.about_txt p {
  font-family: "IBM Plex Mono";
  font-size: 3vw;
}

.grid_1-2_about h4 {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 6vw;
  color: #2d2f2a;
}

.grid_1-2_about h5 {
  font-family: "Merriweather";
  font-weight: 800;
  font-size: 3.4vw;
  color: #7e7e7e;
}

.grid_1-2_about ul {
  list-style: none;
  font-family: "IBM Plex Mono";
  font-size: 3vw;
  color: #2d2f2a;
}

#about_container1 {
  width: 100%;
  aspect-ratio: 574/317;
}

#about_sprite1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(billeder/component.svg);
}

/* --------------------------computer------------------------- */

@media (min-width: 800px) {
  p {
    font-family: "IBM Plex Mono";
    font-size: 2.4vh;
  }

  .citat h2 {
    margin: 0;
    font-size: 8vh;
    font-weight: 700;
    line-height: 0.9;
    font-family: "Merriweather";
    text-align: center;
    letter-spacing: -4px;
  }

  .index_tekst h5 {
    font-size: 8vh;
    font-weight: 700;
    line-height: 0.9;
    font-family: "Merriweather";
    letter-spacing: -4px;
  }

  /* PORTFOLIO */
  .port_titel h1 {
    margin: 0;
    font-size: 10rem;
    font-style: italic;
    line-height: 0.9;
    font-family: "Merriweather";
    font-weight: 700;
    text-align: center;
    letter-spacing: 70px;
    margin-left: 10px;
  }

  .port_txt h2 {
    font-weight: 800;
    font-size: 7vh;
  }

  .port_txt h3 {
    font-weight: 700;
    font-size: 3vh;
  }

  .tema_grid p {
    margin-bottom: 20px;
  }

  /* ABOUT */
  .about_txt h1 {
    margin: 0;
    font-size: 15vh;
    line-height: 0.9;
    font-family: "Yesteryear";
    font-weight: 700;
    text-align: center;
    letter-spacing: -3px;
  }

  .about_txt h2 {
    font-family: "Exo 2";
    font-weight: 800;
    font-size: 3.5vh;
  }

  .grid_1-2_about h4 {
    font-weight: 800;
    font-size: 3.5vh;
  }

  .grid_1-2_about h5 {
    font-weight: 800;
    font-size: 2.5vh;
  }

  .grid_1-2_about ul {
    list-style: none;
    font-family: "IBM Plex Mono";
    font-size: 2.4vh;
    padding-left: 20px;
  }

  .about_txt p {
    font-family: "IBM Plex Mono";
    font-size: 2.4vh;
  }

  #about_container1 {
    width: 80%;
    aspect-ratio: 574/317;
    padding-left: 10px;
  }

  #about_sprite1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(billeder/component.svg);
  }
}
