/* ---------------------------reset--------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1ded5;
  margin: 0rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
}
/* ---------------------------reset--------------------------- */

p {
  font-family: "IBM Plex Mono";
  font-size: 2.8vw;
}

.menu a {
  font-family: "IBM Plex Mono";
  font-weight: 400;
}

a {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 2.8vh;
}

/* INDEX */

.citat h2 {
  margin: 0;
  font-size: 5vh;
  line-height: 0.9;
  font-family: "Merriweather";
  font-weight: 700;
  text-align: center;
  letter-spacing: -3px;
}

.index_box {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 3vh;
}

.index_box h3 {
  color: #6d7865;
}

.index_tekst h4 {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 3.2vh;
  margin-top: 20px;
}

.index_tekst h5 {
  font-size: 6vh;
  font-weight: 700;
  line-height: 0.9;
  font-family: "Merriweather";
  letter-spacing: -4px;
}

/* PORTFOLIO */
.port_titel h1 {
  margin: 0;
  font-size: 15vh;
  line-height: 0.9;
  font-family: "Merriweather";
  font-weight: 700;
  text-align: center;
  letter-spacing: 70px;
  color: #e1ded5;
}

.port_txt h2 {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 3vh;
  color: #e1ded5;
}

.port_txt p {
  color: #e1ded5;
}

.port_img img {
  border-radius: 10px;
}

/* ABOUT */
.about_txt h1 {
  margin: 0;
  font-size: 8vh;
  line-height: 0.9;
  font-family: "Yesteryear";
  font-weight: 700;
  text-align: center;
  letter-spacing: -3px;
  color: #6d7865;
}

.about_txt h2 {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 3vh;
  color: #6d7865;
}

.grid_1-1_about2 h3 {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 3vh;
  color: #e1ded5;
}

.grid_1-1_about2 ul,
a {
  list-style: none;
  font-family: "IBM Plex Mono";
  font-weight: 800;
  font-size: 2.2vh;
  color: #e1ded5;
  margin-top: 15px;
}

/* --------------------------computer------------------------- */

@media (min-width: 800px) {
  p {
    font-family: "IBM Plex Mono";
    font-size: 2.2vh;
  }

  .citat h2 {
    margin: 0;
    font-size: 8vh;
    font-weight: 700;
    line-height: 0.9;
    font-family: "Merriweather";
    text-align: center;
    letter-spacing: -4px;
  }

  .index_tekst h5 {
    font-size: 8vh;
    font-weight: 700;
    line-height: 0.9;
    font-family: "Merriweather";
    letter-spacing: -4px;
  }

  /* PORTFOLIO */
  .port_titel h1 {
    margin: 0;
    font-size: 10rem;
    line-height: 0.9;
    font-family: "Merriweather";
    font-weight: 700;
    text-align: center;
    letter-spacing: 70px;
    color: #e1ded5;
    margin-left: 10px;
  }

  /* ABOUT */
  .about_txt h1 {
    margin: 0;
    font-size: 15vh;
    line-height: 0.9;
    font-family: "Yesteryear";
    font-weight: 700;
    text-align: center;
    letter-spacing: -3px;
  }

  .about_txt p {
    font-family: "IBM Plex Mono";
    font-size: 1.3vw;
  }
}
